# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
test/coverage
cypress/videos
cypress/support
cypress/screenshots

# production
/build

# misc
.idea
!.idea/runConfigurations/
.vscode
.DS_Store
.env.local
.env
.env.development.local
.env.test.local
.env.production.local

*.css
yarn.lock
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.project
/.vscode
