.topplinje {
  background-color: #0066c5;
  display: flex;
  flex-direction: row;
  height: 4rem;
}

.topplinje__brand {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  .brand__logo {
    display: flex;
    height: auto;
    padding-left: 20px;
    padding-right: 15px;
    width: 85px;
  }

  .brand__skillelinje {
    border-left: 1px solid white;
    display: flex;
    height: 30px;
  }

  .brand__tittel {
    color: #ffffff;
    display: flex;
    font-size: 13pt;
    padding-left: 15px;
  }
}

.topplinje__sok {
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-direction: row;

  .sok__felt {
    background-color: #826ba1;
    border: 0;
    border-radius: 2px;
    color: #ffffff;
    display: flex;
    flex-grow: 0;
    font-size: 13pt;
    height: 2em;
    justify-self: center;
    outline: 0;
    padding: 0 10px;
  }

  .sok__button {
    background-image: url('../resources/images/icon-search.svg');
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    border: 0;
    display: flex;
    height: 20px;
    margin: 0 -30px;
    width: 20px;
  }
}

.topplinje__saksbehandler {
  align-items: flex-end;
  display: flex;
  flex-grow: 1;
  flex-direction: column;

  .saksbehandler__navn {
    color: #ffffff;
    display: flex;
    margin: auto 0;
    padding: 0.3em;
  }
}
