.opprettsak {
  width: 100%;
  margin: 2em 1em;
}

.opprettsak__statuslinje {
  margin-top: 2em;
}

.personsok__kort {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: .5em 0;
}
